@import url(https://fonts.googleapis.com/css?family=Roboto);
body,
input,
textarea,
body * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body::after,
body::before,
input::after,
input::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

body {
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
}
